// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

:root {
  --nav-width: 220px;
}

body {
  font-family: "XCharter", "Charter", Georgia, serif;
}

a {
  color: inherit;
  // text-decoration-color: #de4f96;
  &:hover,
  &:focus {
    // color: lighten(#de4f96, 6%);
    text-decoration-color: lighten(#de4f96, 10%);
  }
}

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

.label-purple:not(g) {
  background-color: #de4f96;
}
