.main-content .module,
.module {
  @extend %card;

 a {
  color: lighten(#de4f96, 5%);
  // text-decoration-color: lighten($link-color, 10%) !important;

  &:hover,
  &:focus {
    // color: lighten($link-color, 6%);
    text-decoration-color: lighten(#de4f96, 20%) !important;
  }
}


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: $sp-4;
    }
  }

  >dl {
    border-bottom: $border $border-color;
    border-top: $border $border-color;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: $sp-2 (-$sp-4);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(lg) {
      grid-template-columns: 1fr 7fr;
    }

    %module-item {
      margin: 0;
      padding: $sp-2;

      @include mq(sm) {
        padding: $sp-2 $sp-4;
      }
    }

    >dt {
      @extend %module-item;
      border-top: $border $border-color;
      font-weight: normal;
      text-align: right;
      +dd {
        border-top: $border $border-color;
      }

      &:first-child {
        border-top: none;

        +dd {
          border-top: none;
        }
      }

      &::after {
        content: ":";
      }
    }

    >dd {
      @extend %module-item;

      +dd {
        padding-top: 0;
      }

      ol, ul, dl {
        margin: 0;
      }

      dl {
        display: flex;
        flex-direction: column;

        @include mq(md) {
          display: grid;
          grid-template-columns: minmax(0, 3.9fr) minmax(0, 2.4fr) minmax(0, 1fr);
          column-gap: $sp-2;
        }

        dt {
          font-weight: normal;
          margin: 0;

          @include mq(md) {
            grid-column: 1;
            white-space: nowrap;
          }
        }

        dd {
          margin: 0;

          @include mq(md) {
            grid-column: 2;
            white-space: nowrap;
          }
        }

        dd + dd {
          @include mq(md) {
            grid-column: 3;
            white-space: nowrap;
            padding-left: $sp-2;
          }
        }

        // Speaker/Info nested dl (inside the speaker dd).
        dd > dl {
          @include mq(md) {
            display: grid;
            grid-template-columns: minmax(0, 1.6fr) minmax(0, 1.4fr);
            column-gap: $sp-2;
          }
        }

        dd > dl > dt {
          @include mq(md) {
            grid-column: 1;
            white-space: nowrap;
          }
        }

        dd > dl > dd {
          @include mq(md) {
            grid-column: 2;
            white-space: nowrap;
            padding-left: $sp-6;
          }
        }
      }
    }
  }
}
