.staffer {
  display: flex;
  margin: $sp-4 0;

  .staffer-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
    width: auto;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .staffer-name,
  .staffer-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .staffer-name {
    @extend .d-inline-block;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000;

    user-select: none;
  }

  .staffer-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .staffer-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}

.staff-groups {
  display: flex;
  flex-direction: column;
  gap: $sp-6;

  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $sp-7;
    align-items: flex-start;
  }
}

.staff-group {
  h2 {
    margin-top: 0;
  }
}
